
@{
    ViewBag.Title = "CRM";
}
<div class="g_12">
@*<div class="widget_header">
    <h4 class="widget_header_title wwIcon i_16_charts"></h4>
</div>*@
<div class="widget_contents">
    <div class="charts"></div>
</div>
				</div>

<!-- Horizontal Bars -->
<div class="g_6">
    @*<div class="widget_header">
        <h4 class="widget_header_title wwIcon i_16_bars"></h4>
    </div>*@
    <div class="widget_contents">
        <div class="h_bars"></div>
    </div>
</div>

<!-- Vertical Bars -->
<div class="g_6">
    @*<div class="widget_header">
        <h4 class="widget_header_title wwIcon i_16_bars"></h4>
    </div>*@
    <div class="widget_contents">
        <div class="v_bars"></div>
    </div>
</div>

<!-- Real-Time Charts -->
<div class="g_12">
    @*<div class="widget_header">
        <h4 class="widget_header_title wwIcon i_16_charts"></h4>
    </div>*@
    <div class="widget_contents">
        <div class="realtime_charts"></div>
    </div>
</div>



